nav#navigation.navigation
  ul.navigation__list.navigation__list_view_theme.navigation__hidden#navigation__list
    li
      a(href='#')
        | Главная
    li
      a(href='#')
        | О Митрополите Антонии
      ul
        li
          a(href='#')
            | Биография
        li
          a(href='#')
            | Хронология
        li
          a(href='#')
            | Воспоминания
        li
          a(href='#')
            | Встречи на жизненном пути
        li
          a(href='#')
            | Судьба в фотографиях

    li
      a(href='#')
        | Наследие
      ul
        li
          a(href='#')
            | Тексты
        li
          a(href='#')
            | Аудио
        li
          a(href='#')
            | Видео
    li
      a(href='#')
        | Книги
      ul
        li
          a(href='#')
            | Для скачивания
        li
          a(href='#')
            | Аннотации
        li
          a(href='#')
            | Где купить
    li
      a(href='#')
        | О Фонде
      ul
        li
          a(href='#')
            | Информация
        li
          a(href='#')
            | Учредительные документы 
        li
          a(href='#')
            | Реквизиты
        li
          a(href='#')
            | Совет фонда
        li
          a(href='#')
            | Друзья фонда
        li
          a(href='#')
            | Отчеты 
        li
          a(href='#')
            | Чем помочь 
        li
          a(href='#')
            | Просветительская деятельность 
    li
      a(href='#')
        | События
      ul
        li
          a(href='#')
            | Конференции
        li
          a(href='#')
            | Семинары 
        li
          a(href='#')
            | Презентации книг
        li
          a(href='#')
            | Поездки
        li
          a(href='#')
            | Радио- и телевизионные программы 
        li
          a(href='#')
            | Новые книги
        li
          a(href='#')
            | Новые факты
    li
      a(href='#')
        | Контакты
    li
      a(href='#')
        | Ссылки