nav#navigation.navigation.navigation_view_theme
  ul#navigation__list.navigation__list.navigation__list_view_theme.navigation__hidden
    li
      a(href='#link1', rel='m_PageScroll2id')
        | Link 1
    li
      a(href='#link2', rel='m_PageScroll2id')
        | Link 2
    li
      a(href='#link3', rel='m_PageScroll2id')
        | Link 3
    li
      a(href='#link4', rel='m_PageScroll2id')
        | Link 4
