nav#navigation.navigation.navigation_view_theme
  ul#navigation__list.navigation__list.navigation__list_view_theme.navigation__hidden
    li
      a(href='#')
        | Link 1
    li
      a(href='#')
        | Link 2
      ul
        li
          a(href='#')
            | Dropdown link 1
        li
          a(href='#')
            | Dropdown link 2
        li
          a(href='#')
            | Dropdown link 3
    li
      a(href='#')
        | Link 3
    li
      a(href='#')
        | Link 4
      ul
        li
          a(href='#')
            | Dropdown link 1
        li
          a(href='#')
            | Dropdown link 2
    li
      a(href='#')
        | Link 4
