.archive-annotatsii__thumb
  width 290px
  height 290px
  position relative
  img
    max-height 290px
    max-width 290px
    width auto
    height auto
    position absolute
    transform translate(-50%, -50%)
    top 50%
    left 50%
    