.breadcrumb
  background none
  font-size xsSize
  padding 20px 0
  margin-bottom -30px
  color themeColor
  font-family titleBoldFont
  a
    text-decoration underline !important
    color themeColor !important
    font-family addFont !important
    &:focus
      text-decoration none !important
    &:hover
      text-decoration none !important
  a:first-child
    text-transform uppercase