.navigation
  background #000
  bottom 0
  display none
  min-height 100vh
  height auto
  left 0
  overflow-y auto
  padding-top 25%
  position fixed
  right 0
  top 0
  z-index 100
  width 100%
  @media only screen and (min-width: navigationBreakPoint)
    display block
    overflow-y visible
    padding-top 0
    position static
    min-height auto
