extends ../layouts/default.pug

block site__content
  .page
    .page__wrapper
      .page__cell
        .page__header
          h1.page__title.text-center
            | Страница не найдена
        .page__cell
          .page__content
            p.text-center
              | Запрашиваемая страница не найдена. Воспользуйтесь поиском по сайту или основным меню сайта.
        