extends ../layouts/default.pug

block site__content
  .archive
    .archive__wrapper
      .archive__header
        .archive__label
          ul.archive__list
            li
              a(href="#") Конференции
            li
              a(href="#") Семинары
            li
              a(href="#") Презентация книг
            li
              a(href="#") Поездки
            li
              a(href="#") СМИ
            li
              a(href="#") Новые книги
            li
              a(href="#") Новые факты
      .archive__content
        .row
          .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            .archive__single-media
              .archive__date
                | 5 декабря 2017
                span &nbsp;в&nbsp;
                span.archive__time
                | 19.00
              p
                | Когда мы читаем у апостола Павла о том, что такое Церковь, то с удивлением обнаруживаем, что определение Церкви дается в телесных терминах. В Послании к Ефесянам говорится, что двое должны стать одной плотью, и тут же апостол добавляет: «Тайна эта велика, говорю же я применительно ко Христу и Церкви». Каким образом соотносятся телесность наша, телесность Христа и телесность Церкви?
            .archive__single-media
              .archive__date
                | 5 декабря 2017
                span &nbsp;в&nbsp;
                span.archive__time
                | 19.00
              p
                | Когда мы читаем у апостола Павла о том, что такое Церковь, то с удивлением обнаруживаем, что определение Церкви дается в телесных терминах. В Послании к Ефесянам говорится, что двое должны стать одной плотью, и тут же апостол добавляет: «Тайна эта велика, говорю же я применительно ко Христу и Церкви». Каким образом соотносятся телесность наша, телесность Христа и телесность Церкви?