extends ../layouts/default.pug

block site__content
  .archive
    .archive__wrapper
      .archive__header
        .row
          .col-sm-6
            .archive__title Воспоминания о Митрополите Антонии Срожском
            .archive__preview.archive__preview_size_xs
              | Митрополит Сурожский Антоний«БЕСЕДЫ О ВЕРЕ И ЦЕРКВИ» Этот сборник бесед и выступлений митрополита Сурожского Антония без преувеличения можно назвать знаковым, легендарным. Четверть века назад он вышел тиражом 120 тысяч экземпляров и на долгие годы стал одной из самых известных и самых популярных книг о вере и Церкви.           

      .archive__content
        .row
          .col-sm-6.archive-memory
            a(href="#").archive__single-memory.hidden-xs
              .archive-memory__img(style='background-image: url(assets/images/event/event.png)')
            div
              .archive__author-memory
                a(href="#") Diana Winsor2
                  span .&nbsp;
                  span.archive__title-memory 120 тысяч экземпляров
              .archive__preview
                | Митрополит Сурожский Антоний«БЕСЕДЫ О ВЕРЕ И ЦЕРКВИ» Этот сборник бесед и выступлений митрополита 
          .col-sm-6.archive-memory
            a(href="#").archive__single-memory.hidden-xs
              .archive-memory__img(style='background-image: url(assets/images/event/event.png)')
            div
              .archive__author-memory
                a(href="#") Diana Winsor2
                  span .&nbsp;
                  span.archive__title-memory 120 тысяч экземпляров
              .archive__preview
                | Митрополит Сурожский Антоний«БЕСЕДЫ О ВЕРЕ И ЦЕРКВИ» Этот сборник бесед и выступлений митрополита Сурожского Антония без преувеличения можно назвать знаковым, легендарным. Четверть века назад он вышел тиражом 120 тысяч экземпляров и на долгие годы стал одной из самых известных и самых популярных книг о вере и Церкви.
          .col-sm-6.archive-memory
            a(href="#").archive__single-memory.hidden-xs
              .archive-memory__img(style='background-image: url(assets/images/event/event.png)')
            div
              .archive__author-memory
                a(href="#") Diana Winsor2
                  span .&nbsp;
                  span.archive__title-memory 120 тысяч экземпляров
              .archive__preview
                | Митрополит Сурожский Антоний«БЕСЕДЫ О ВЕРЕ И ЦЕРКВИ» Этот сборник бесед и выступлений митрополита Сурожского Антония без преувеличения можно назвать знаковым, легендарным. Четверть века назад он вышел тиражом 120 тысяч экземпляров и на долгие годы стал одной из самых известных и самых популярных книг о вере и Церкви.