extends ../layouts/default.pug

block site__content
  .archive.archive-conference
    .archive__wrapper
      .row
        .col-sm-6
          h1.archive-conference__title-main Встречи на жизненном пути
          .archive__content
            p Около трех десятилетий митрополит Антоний проводил так называемые «епархиальные конференции», на которые раз в год съезжались члены Сурожской епархии для того, чтобы вместе молиться, жить, размышлять и делиться опытом друг с другом.
            p В продолжение этой традиции в 2007 году Фонд совместно с Домом русского зарубежья имени Александра Солженицына впервые собрал на международную конференцию людей, для которых слово владыки дорого и важно, независимо от того, посчастливилось ли им прожить в общении с ним долгие годы, довелось ли хоть раз встретить его лично, или они знакомы с ним лишь по текстам. На конференцию съехались богословы и священники, учителя и врачи, художники и ученые, философы и журналисты — представители самых разных профессий и призваний, люди из разных концов России, из Великобритании, Голландии, Франции, Греции, Ливана, США и других стран. С тех пор такие конференции проводятся в Москве каждые два года.
          .archive-conference__box
            .archive-conference__button#button-authors Наши авторы
              .archive-conference__button-icon
                i.fa.fa-2x.fa-angle-down
            .archive-conference__box-hidden#box-authors
              .archive-conference__tit Наши авторы:
              .archive-conference__exit#exit-authors
                i.fa.fa-times
              .row
                .col-sm-4
                  p
                    a(href="#") 1. Иванов
                  p
                    a(href="#") 2. Иванов
                  p
                    a(href="#") 3. Иванов
                  p
                    a(href="#") 4. Иванов
                .col-sm-4
                  p
                    a(href="#") 5. Иванов
                  p
                    a(href="#") 6. Иванов
                  p
                    a(href="#") 7. Иванов
                  p
                    a(href="#") 8. Иванов
                .col-sm-4
                  p
                    a(href="#") 9. Иванов
                  p
                    a(href="#") 10. Иванов
                  p
                    a(href="#") 11. Иванов
                  p
                    a(href="#") 12. Иванов
          .archive-conference__description
            p Конференции Фонда «Духовное наследие митрополита Антония Сурожского» — это совместная молитва, доклады, обсуждение в группах, круглые столы, воспоминания о владыке, видеофрагменты его бесед, выставки фотографий и книг.
          .archive-conference__content
            p Конференции — это попытка прикоснуться к драгоценному наследию митрополита Антония и его паствы, разделить радость общения во взаимном уважении и внимании друг ко другу, вместе спорить и искать, приобщаться атмосфере устремленности ко Христу. Это пространство для со-пребывания и со-вопрошания с единомышленниками и теми, кто смотрит на ту же проблему иначе. Это стремление на практике прожить соборность, ведь, по слову митрополита Антония, соборность — это «отношения между людьми в Боге».
          .archive-conference__box
            .archive-conference__button#button-tags Теги
              .archive-conference__button-icon
                i.fa.fa-2x.fa-angle-down
            .archive-conference__box-hidden#box-tags
              .archive-conference__tit Теги:
              .archive-conference__exit#exit-tags
                i.fa.fa-times
              a(href="#") тег
              span ,&nbsp;
              a(href="#") тег,
              a(href="#") тег,
              a(href="#") тег,
              a(href="#") тег,
              a(href="#") тег,
              a(href="#") тег,
              a(href="#") тег,
              a(href="#") тег,
              a(href="#") тег
        .col-sm-6
          .archive__header
          .archive__content
          .col-sm-6.archive-conference__one
            .archive-conference__date
              | 2017 г.
            .archive-conference__thumb
              img(src='assets/images/afanacy.png')
            .archive-conference__title
              a(href="#") Метрополит Афанасий (Нечаев)
          .col-sm-6.archive-conference__one
            .archive-conference__date
              | 2017 г.
            .archive-conference__thumb
              img(src='assets/images/afanacy.png')
            .archive-conference__title
              a(href="#") Метрополит Афанасий (Нечаев)
          .col-sm-6.archive-conference__one
            .archive-conference__date
              | 2017 г.
            .archive-conference__thumb
              img(src='assets/images/afanacy.png')
            .archive-conference__title
              a(href="#") Метрополит Афанасий (Нечаев)
              