extends ../layouts/default.pug

block site__content
  .archive
    .archive__wrapper
      .archive__header
        h1.archive__title.text-center Встречи на жизненном пути
      .archive__content
        .row
          .col-lg-10.col-lg-offset-1.archive-encounters
            .archive-encounters__box
              .archive-encounters__img(style='background-image: url(assets/images/event/event.png)')
              .archive-encounters__tit
                a(href="#") Метрополит Афанасий (Нечаев)
            .archive-encounters__box
              .archive-encounters__img(style='background-image: url(assets/images/event/event.png)')
              .archive-encounters__tit
                a(href="#") Метрополит Афанасий (Нечаев)
            .archive-encounters__box
              .archive-encounters__img(style='background-image: url(assets/images/event/event.png)')
              .archive-encounters__tit
                a(href="#") Метрополит Афанасий (Нечаев)
            .archive-encounters__box
              .archive-encounters__img(style='background-image: url(assets/images/event/event.png)')
              .archive-encounters__tit
                a(href="#") Метрополит Афанасий (Нечаев)
            .archive-encounters__box
              .archive-encounters__img(style='background-image: url(assets/images/event/event.png)')
              .archive-encounters__tit
                a(href="#") Метрополит Афанасий (Нечаев)