extends ../layouts/default.pug

block site__content
  .archive.archive-download
    .archive__wrapper
      .archive__header
        h1.archive__title.text-center Книги для скачивания
        h2.text-center.archive-download__subtitle Молодым и пожилым
      .archive__content
        .row
          .col-lg-push-2.col-lg-8
            .archive-download__one
              h3.archive__title.text-center
                a(href="") «РАДИ ЧЕГО. ЖИВ ТЫ ИЛИ МЕРТВ — НЕ ИМЕЕТ ЗНАЧЕНИЯ. ВАЖНО — РАДИ ЧЕГО ТЫ ЖИВЕШЬ И РАДИ ЧЕГО ТЫ ГОТОВ УМЕРЕТЬ»
              .text-center Из таких бесед с молодежью сложилась брошюра, в которой митрополит Антоний с предельной честностью и открытостью говорит смысле и цели жизни, о вере и безверии, о чести и достоинстве.
              .text-center.archive-download__button--group
                a(href="#").archive-download__button.archive-download__button_bg_add Читать&nbsp;онлайн
                a(href="#").archive-download__button.archive-download__button_bg_theme .pdf
                a(href="#").archive-download__button.archive-download__button_bg_theme .fb2
                a(href="#").archive-download__button.archive-download__button_bg_theme .epub
            .archive-download__one
              h3.archive__title.text-center
                a(href="") «РАДИ ЧЕГО. ЖИВ ТЫ ИЛИ МЕРТВ — НЕ ИМЕЕТ ЗНАЧЕНИЯ. ВАЖНО — РАДИ ЧЕГО ТЫ ЖИВЕШЬ И РАДИ ЧЕГО ТЫ ГОТОВ УМЕРЕТЬ»
              .text-center Из таких бесед с молодежью сложилась брошюра, в которой митрополит Антоний с предельной честностью и открытостью говорит смысле и цели жизни, о вере и безверии, о чести и достоинстве.
              .text-center.archive-download__button--group
                a(href="#").archive-download__button.archive-download__button_bg_add Читать&nbsp;онлайн
                a(href="#").archive-download__button.archive-download__button_bg_theme .pdf
                a(href="#").archive-download__button.archive-download__button_bg_theme .fb2
                a(href="#").archive-download__button.archive-download__button_bg_theme .epub

      .archive__footer
              