extends ../layouts/default.pug

block site__content
  .archive.archive-encounters
    .archive__wrapper
      .archive__header
        h1.archive__title Встречи на жизненном пути
      .archive__content
        .row
          .col-md-4.hidden-sm.hidden-xs
            .archive-encounters__thumb
              img(src='assets/images/afanacy.png')
            .archive-encounters__inscription Метрополит
          .col-md-8.col-sm-12
            .archive-encounters__description
              | Элементы политического процесса ассоциативно распределены по отраслям. Для современного мира внедрение современных методик создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса как самодостаточных, так и внешне зависимых концептуальных решений. Лишь некоторые особенности внутренней политики и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов. Разбавленное изрядной долей эмпатии, рациональное мышление обеспечивает широкому кругу (специалистов) участие в формировании прогресса профессионального сообщества.
            .archive-encounters__one
              a
                .archive__author Метрополит
                h2.archive-encounters__name Воспоминания
              .archive-encounters__preview
                |Элементы политического процесса ассоциативно распределены по отраслям. Для современного мира внедрение современных методик создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса как самодостаточных, так и внешне зависимых концептуальных решений. Лишь некоторые особенности внутренней политики и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов. Разбавленное изрядной долей эмпатии, рациональное мышление обеспечивает широкому кругу (специалистов) участие в формировании прогресса профессионального сообщества.
              a Читать полностью
            .archive-encounters__one
              a
                .archive__author Метрополит
                h2.archive-encounters__name Воспоминания
              .archive-encounters__preview
                |Элементы политического процесса ассоциативно распределены по отраслям. Для современного мира внедрение современных методик создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса как самодостаточных, так и внешне зависимых концептуальных решений. Лишь некоторые особенности внутренней политики и по сей день остаются уделом либералов, которые жаждут быть указаны как претенденты на роль ключевых факторов. Разбавленное изрядной долей эмпатии, рациональное мышление обеспечивает широкому кругу (специалистов) участие в формировании прогресса профессионального сообщества.
              a Читать полностью
            .archive-encounters__link
              h2 Ссылки на другие источники
              a(href="#")
                | /////
              