extends ../layouts/default.pug

block site__content
  .archive
    .archive__wrapper
      .archive__header
        .archive-conference__box
          .archive-conference__button.archive-conference__button_width_270#button-authors Наши авторы
            .archive-conference__button-icon
              i.fa.fa-2x.fa-angle-down
          .archive-conference__box-hidden#box-authors
            .archive-conference__tit Наши авторы:
            .archive-conference__exit#exit-authors
              i.fa.fa-times
            .row
              .col-sm-4
                p
                  a(href="#") 1. Иванов
                p
                  a(href="#") 2. Иванов
                p
                  a(href="#") 3. Иванов
                p
                  a(href="#") 4. Иванов
              .col-sm-4
                p
                  a(href="#") 5. Иванов
                p
                  a(href="#") 6. Иванов
                p
                  a(href="#") 7. Иванов
                p
                  a(href="#") 8. Иванов
              .col-sm-4
                p
                  a(href="#") 9. Иванов
                p
                  a(href="#") 10. Иванов
                p
                  a(href="#") 11. Иванов
                p
                  a(href="#") 12. Иванов
      .archive__content
        .archive__single
          .row
            .col-sm-3.hidden-xs.archive__thumb
              a(href="#")
                img(src='assets/images/event/event.png') 
            .col-lg-push-7.col-md-2.col-md-push-7.col-sm-3.col-sm-push-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3
                .archive__info
                  .archive__date
                    | 5 декабря 2017
                  .archive__time
                    | 19.00
                  .archive__city
                    | (Москва)
            .col-lg-pull-2.col-md-7.col-md-pull-2.col-sm-6.col-sm-pull-3.col-xs-12
              .archive__ad
                a.archive__title(href="#")
                  | "Семья, супружество, интимность. Телесность церкви, телесность семьи."
                a.archive__subtitle-fact(href="#")
                    | "Семья, супружество, интимность. Телесность церкви, телесность семьи."
                .archive__subtitle
                  | Семинар по наследию митрополита Антония Сурожского
                .archive__preview
                  | Митрополит Сурожский Антоний«БЕСЕДЫ О ВЕРЕ И ЦЕРКВИ» Этот сборник бесед и выступлений митрополита Сурожского Антония без преувеличения можно назвать знаковым, легендарным. Четверть века назад он вышел тиражом 120 тысяч экземпляров и на долгие годы стал одной из самых известных и самых популярных книг о вере и Церкви.
                  span &nbsp;
                  span
                    a.archive__link(href="#") Подробнее
        .archive__single
          .row
            .col-sm-3.hidden-xs.archive__thumb
              a(href="#")
                img(src='assets/images/event/event.png') 
            .col-lg-push-7.col-md-2.col-md-push-7.col-sm-3.col-sm-push-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3
                .archive__info
                  .archive__date
                    | 5 декабря 2017
                  .archive__time
                    | 19.00
                  .archive__city
                    | (Москва)
            .col-lg-pull-2.col-md-7.col-md-pull-2.col-sm-6.col-sm-pull-3.col-xs-12
              .archive__ad
                a.archive__title(href="#")
                  | "Семья, супружество, интимность. Телесность церкви, телесность семьи."
                .archive__subtitle
                  | Семинар по наследию митрополита Антония Сурожского
                .archive__preview
                  | Митрополит Сурожский Антоний«БЕСЕДЫ О ВЕРЕ И ЦЕРКВИ» Этот сборник бесед и выступлений митрополита Сурожского Антония без преувеличения можно назвать знаковым, легендарным. Четверть века назад он вышел тиражом 120 тысяч экземпляров и на долгие годы стал одной из самых известных и самых популярных книг о вере и Церкви.
                  span &nbsp;
                  span
                    a.archive__link(href="#") Подробнее
        .button-group.text-center
          button.archive__button
        .archive__single.archive__single-past
          .row
            .col-sm-3.hidden-xs.archive__thumb
              a(href="#")
                img(src='assets/images/event/event.png') 
            .col-lg-push-7.col-md-2.col-md-push-7.col-sm-3.col-sm-push-6.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-3
                .archive__info.archive__info-past
                  .archive__date
                    | 5 декабря 2017
                  .archive__time
                    | 19.00
                  .archive__sity
                    | (Москва)
            .col-ld-pull-2.col-md-7.col-md-pull-2.col-sm-6.col-sm-pull-3.col-xs-12
              .archive__ad
                .archive__title.archive__title-past
                  | "Семья, супружество, интимность. Телесность церкви, телесность семьи."
                .archive__subtitle
                  | Семинар по наследию митрополита Антония Сурожского
                .archive__preview
                  | Митрополит Сурожский Антоний«БЕСЕДЫ О ВЕРЕ И ЦЕРКВИ» Этот сборник бесед и выступлений митрополита Сурожского Антония без преувеличения можно назвать знаковым, легендарным. Четверть века назад он вышел тиражом 120 тысяч экземпляров и на долгие годы стал одной из самых известных и самых популярных книг о вере и Церкви.
                  span &nbsp;
                  span
                    a.archive__link.archive__link-past(href="#") Подробнее