extends ../layouts/default.pug

block site__content
  .archive-annotatsii
    .archive-annotatsii__wrapper
      .archive-annotatsii__cell
        .archive-annotatsii__header
          h1.archive-annotatsii__title.text-center
            | Книги Митрополита Антония Сурожского
      .archive-annotatsii__content
        .archive-annotatsii__cell_width_50
          .archive-annotatsii__one
            .archive-annotatsii__thumb
              img(src='assets/images/sovet/fund-council_02.png')
            .archive-annotatsii__description
              .archive-annotatsii__author
                | Митрополита Антония Сурожского
              a(href="#")
                h2.archive-annotatsii__name
                  | Митрополита Антония Сурожского
        .archive-annotatsii__cell_width_50
          .archive-annotatsii__one
            .archive-annotatsii__thumb
              img(src='assets/images/sovet/fund-council_03.png')
            .archive-annotatsii__description
              .archive-annotatsii__author
                | Митрополита Антония Сурожского
              a(href="#")
                h2.archive-annotatsii__name
                  | кандидат биологических наук, настоятель храма свв. Космы и Дамиана в Шубине. 
        .archive-annotatsii__cell_width_50
          .archive-annotatsii__one
            .archive-annotatsii__thumb
              img(src='assets/images/sovet/fund-council_04.png')
            .archive-annotatsii__description
              .archive-annotatsii__author
                | Митрополита Антония Сурожского
              a(href="#")
                h2.archive-annotatsii__name
                  | доктор психологических наук, заслуженный профессор Московского университета, член-корреспондент РАО.
        .archive-annotatsii__cell_width_50
          .archive-annotatsii__one
            .archive-annotatsii__thumb
              img(src='assets/images/sovet/fund-council_05.png')
            .archive-annotatsii__description
              .archive-annotatsii__author
                | Митрополита Антония Сурожского
              a(href="#")
                h2.archive-annotatsii__name
                  | медсестра детской реанимации, работала в Первом Московском хосписе и Фонде помощи хосписам «Вера», координировала работу волонтеров.
        .archive-annotatsii__cell_width_50
          .archive-annotatsii__one
            .archive-annotatsii__thumb
              img(src='assets/images/sovet/fund-council_06.png')
            .archive-annotatsii__description
              .archive-annotatsii__author
                | Митрополита Антония Сурожского
              a(href="#")
                h2.archive-annotatsii__name
                  | окончила Университет Гронингена в Голландии, где изучала славянские языки, училась и затем преподавала в международном колледже восточной медицины под Лондоном, более 20 лет – прихожанка прихода митрополита Антония. Имела собственную клинику в Лондоне, переехала в Москву, где работает в качестве рефлексотерапевта и психолога с пациентами Первого Московского хосписа и их родственниками.
        .archive-annotatsii__cell_width_50
          .archive-annotatsii__one
            .archive-annotatsii__thumb
              img(src='assets/images/sovet/fund-council_07.png')
            .archive-annotatsii__description
              .archive-annotatsii__author
                | Митрополита Антония Сурожского
              a(href="#")
                h2.archive-annotatsii__name
                  | типограф, преподаватель института графики и искусства книги имени В. Фаворского.