extends ../layouts/default.pug

block site__content
  .page
    .container
      .page__header
        .row
          .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            h1.page__title
              | Lorem ipsum dolor sit amet
      .page__content
        .row
          .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at libero ut ex gravida mattis a quis lorem. Proin auctor quam sed turpis accumsan, eget interdum neque mollis. Nulla gravida venenatis ipsum in sollicitudin. Aenean dui urna, consectetur nec felis non, eleifend laoreet nunc. In hac habitasse platea dictumst. Ut blandit, mauris eget semper tristique, nisi lacus malesuada est, ac vestibulum massa sapien a lectus. Integer pellentesque, odio vel posuere posuere, enim metus vestibulum tortor, eu tristique eros nisl a magna. Suspendisse vitae nulla fringilla, eleifend felis a, tincidunt sem.
            ul
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at libero ut ex gravida mattis a quis lorem. Proin auctor quam sed turpis accumsan, eget interdum neque mollis. Nulla gravida venenatis ipsum in sollicitudin. Aenean dui urna, consectetur nec felis non, eleifend laoreet nunc. In hac habitasse platea dictumst. Ut blandit, mauris eget semper tristique, nisi lacus malesuada est, ac vestibulum massa sapien a lectus. Integer pellentesque, odio vel posuere posuere, enim metus vestibulum tortor, eu tristique eros nisl a magna. Suspendisse vitae nulla fringilla, eleifend felis a, tincidunt sem.
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at libero ut ex gravida mattis a quis lorem. Proin auctor quam sed turpis accumsan, eget interdum neque mollis. Nulla gravida venenatis ipsum in sollicitudin. Aenean dui urna, consectetur nec felis non, eleifend laoreet nunc. In hac habitasse platea dictumst. Ut blandit, mauris eget semper tristique, nisi lacus malesuada est, ac vestibulum massa sapien a lectus. Integer pellentesque, odio vel posuere posuere, enim metus vestibulum tortor, eu tristique eros nisl a magna. Suspendisse vitae nulla fringilla, eleifend felis a, tincidunt sem.
        