extends ../layouts/default.pug

block site__content
  .main
    .main__wrapper
      .main__cell
        a.main__link.main__link_position_left(href='#')
          .main__one.main-left
            | &laquo;
            span
              | Встреча
            |  с каждым человеком была событием и в жизни Владыки, и в жизни того, кто к нему приходил, потому что он умел любить. И когда он с кем-то разговаривал, то всегда чувствовалось, что это самый близкий его друг, единственный друг&raquo;.
      .main__cell
        a.main__link.main__link_position_center(href='#')
          .main__one.main-center
            img(src='assets/images/event/event.png')
            .main-center__overlay
              .main-center__date
                | 5 декабря 2017 г.
              .main-center__time
                | 19.00
              .main-center__title
                | &laquo;Семья, супружество, интимность. Телесность церкви, телесность семьи&raquo;
              .main-center__description
                | Семинар по наследию митрополита Антония Сурожского
      .main__cell
        a.main__link.main__link_position_right(href='#')
          .main__one.main-right
            | &laquo;...мне хочется поделиться с вами самым драгоценным, что за многие годы накопилось в душе, кристаллизовалось в мысли, определило в значительной мере и жизнь, но вместе с этим мне хочется, чтобы это было такое, что вам нужно&raquo;. 
            span
              | Наследие
            |  митрополита Антония: тексты, аудио, видео.
    h1.page__title.text-center Новости
    .container
      .row
        .main__news
          a(href="#").main__news-one Новость Новость Новость овость Новость Новость
          a(href="#").main__news-one Новость Новость Новость
          a(href="#").main__news-one Новость Новость Новость
          a(href="#").main__news-one.main__news-one_transform_up Читать все новости
        //.button-group
          button.button_bg_theme.center-block Все новости