extends ../layouts/default.pug

block site__content
  .page.page-foto
    .page__wrapper
      .page__cell
        .page__header
          h1.page__title.text-center
            | Судьба в фотографиях
        .page__cell
          .page__content.page-foto__content
            .row
              .col-sm-4
                .page-foto__item
                  img(src='assets/images/sudba1.jpg').center-block
                  p.text-center
                    a(href="#") 1900-1900
              .col-sm-4
                .page-foto__item
                  img(src='assets/images/sudba1.jpg').center-block
                  p.text-center
                    a(href="#") 1900-1900
              .col-sm-4
                .page-foto__item
                  img(src='assets/images/sudba1.jpg').center-block
                  p.text-center
                    a(href="#") 1900-1900
              .col-sm-2
              .col-sm-4
                .page-foto__item
                  img(src='assets/images/sudba1.jpg').center-block
                  p.text-center
                    a(href="#") 1900-1900
              .col-sm-4
                .page-foto__item
                  img(src='assets/images/sudba1.jpg').center-block
                  p.text-center
                    a(href="#") 1900-1900
              .col-sm-2