extends ../layouts/default.pug

block site__content
  .page
    .page__wrapper
      .page__cell
        .page__header
          h1.page__title
            | Lorem ipsum dolor sit amet
        .page__cell
          .page__content
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at libero ut ex gravida mattis a quis lorem. Proin auctor quam sed turpis accumsan, eget interdum neque mollis. Nulla gravida venenatis ipsum in sollicitudin. Aenean dui urna, consectetur nec felis non, eleifend laoreet nunc. In hac habitasse platea dictumst. Ut blandit, mauris eget semper tristique, nisi lacus malesuada est, ac vestibulum massa sapien a lectus. Integer pellentesque, odio vel posuere posuere, enim metus vestibulum tortor, eu tristique eros nisl a magna. Suspendisse vitae nulla fringilla, eleifend felis a, tincidunt sem. 
        