extends ../layouts/default.pug

block site__content
  .page-sovet
    .page-sovet__wrapper
      .page-sovet__cell
        .page-sovet__header
          h1.page-sovet__title.text-center
            | Совет фонда
      .page-sovet__content
        .page-sovet__cell_width_50
          .page-sovet__one
            .page-sovet__foto
              img(src='assets/images/sovet/fund-council_01.png')
            .page-sovet__description
              .page-sovet__job
                | Президент
              div
                span.page-sovet__name
                  | Елена Юрьевна Садовникова
                span &ensp;-&ensp;
                span.page-sovet__text
                  | кандидат биологических наук, с 1991 по 1998 гг занималась онкоиммунологией в Лондонском университете (UCL) и в Имперском колледже (Imperial College) в Лондоне. 11 лет - прихожанка прихода митрополита Антония в Лондоне. Была членом приходского Совета, членом оргкомитета Епархиальной конференции Сурожской Епархии.
        .page-sovet__cell_width_50
          .page-sovet__one
            .page-sovet__foto
              img(src='assets/images/sovet/fund-council_01.png')
            .page-sovet__description
              .page-sovet__job
                | Президент
              div
                span.page-sovet__name
                  | Елена Юрьевна Садовникова
                span &ensp;-&ensp;
                span.page-sovet__text
                    | кандидат биологических наук, с 1991 по 1998 гг занималась онкоиммуно
        .page-sovet__cell
          .page-sovet__job_algin_center
            | Члены совета:
        .page-sovet__cell_width_50
          .page-sovet__one
            .page-sovet__foto
              img(src='assets/images/sovet/fund-council_02.png')
            .page-sovet__description
              span.page-sovet__name
                | Марина Евгеньевна Башлыкова
              span &ensp;-&ensp;
              span.page-sovet__text
                | кандидат филологических наук, сотрудник музея древнерусского искусства им. Андрея Рублева.
        .page-sovet__cell_width_50
          .page-sovet__one
            .page-sovet__foto
              img(src='assets/images/sovet/fund-council_03.png')
            .page-sovet__description
              span.page-sovet__name
                | Прот. Александр Борисов
              span &ensp;-&ensp;
              span.page-sovet__text
                | кандидат биологических наук, настоятель храма свв. Космы и Дамиана в Шубине. 
        .page-sovet__cell_width_50
          .page-sovet__one
            .page-sovet__foto
              img(src='assets/images/sovet/fund-council_04.png')
            .page-sovet__description
              span.page-sovet__name
                | Борис Сергеевич Братусь
              span &ensp;-&ensp;
              span.page-sovet__text
                | доктор психологических наук, заслуженный профессор Московского университета, член-корреспондент РАО.
        .page-sovet__cell_width_50
          .page-sovet__one
            .page-sovet__foto
              img(src='assets/images/sovet/fund-council_05.png')
            .page-sovet__description
              span.page-sovet__name
                | Татьяна Михайловна Семчишина
              span &ensp;-&ensp;
              span.page-sovet__text
                | медсестра детской реанимации, работала в Первом Московском хосписе и Фонде помощи хосписам «Вера», координировала работу волонтеров.
        .page-sovet__cell_width_50
          .page-sovet__one
            .page-sovet__foto
              img(src='assets/images/sovet/fund-council_06.png')
            .page-sovet__description
              span.page-sovet__name
                | Фредерика де Грааф
              span &ensp;-&ensp;
              span.page-sovet__text
                | окончила Университет Гронингена в Голландии, где изучала славянские языки, училась и затем преподавала в международном колледже восточной медицины под Лондоном, более 20 лет – прихожанка прихода митрополита Антония. Имела собственную клинику в Лондоне, переехала в Москву, где работает в качестве рефлексотерапевта и психолога с пациентами Первого Московского хосписа и их родственниками.
        .page-sovet__cell_width_50
          .page-sovet__one
            .page-sovet__foto
              img(src='assets/images/sovet/fund-council_07.png')
            .page-sovet__description
              span.page-sovet__name
                | Яна Ивановна Родина
              span &ensp;-&ensp;
              span.page-sovet__text
                | типограф, преподаватель института графики и искусства книги имени В. Фаворского.