.button_bg_theme
  background themeColor
  color lightColor!important
  transition-duration 0.35s
  padding 5px 40px
  text-decoration none!important
  &:active
    color lightColor!important
  &:focus
    color lightColor!important
  &:hover
    background darken(themeColor, changeColor)
    color lightColor!important
