.button_color_accent
  background transparent
  border 1px solid themeColor
  color themeColor
  &:active
    color darken(themeColor, changeColor)
  &:focus
    color darken(themeColor, changeColor)
  &:hover
    border 1px solid darken(themeColor, changeColor)
    color darken(themeColor, changeColor)
