.filter
  margin 20px 0
  display none
  font-family addFont
  @media only screen and (min-width: sm)
    display block
//#filter-place
//#filter-period
//#filter-genre
.filter__hidden
  display none