.filter__button
  background lightColor
  border-left 2px solid #E2E3E5 
  border-right 2px solid #E2E3E5
  border-top 2px solid #E2E3E5
  border-bottom none
  color themeColor
  padding 10px 0
  text-decoration underline
  display inline-block
  cursor pointer
  max-width 24%
  min-width 15%
  text-align center
  margin-bottom 0
  input
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
.filter__button-active
  background #E2E3E5 !important
  color darkColor !important
  text-decoration none !important
  font-family titleBoldFont