.filter__border
  @media only screen and (min-width: sm)
    min-height 470px
    border 1px solid socialColor
.filter__border_border_none
  padding 20px
  @media only screen and (min-width: sm)
    min-height 470px
.filter__border_border_bottom
  @media only screen and (min-width: sm)
    border-bottom 1px solid socialColor
.filter__border_border_left
  @media only screen and (min-width: sm)
    min-height 470px
    border-left 1px solid socialColor
    margin-left -30px