.page-hronologiya__instruction
  background addColor
  border-radius 15px
  font-size xxsSize !important
  padding 10px
  z-index 100
  position absolute
  bottom 20px
  right -190px
  width 210px
  text-align left
  display none
.page-hronologiya__instruction.instruction_ru:after
  content "Нажмите, чтобы посмотреть более подробную хронологию"
.page-hronologiya__instruction.instruction_en:after
  content "Click to view detailed chronology"
.page-hronologiya__instruction.instruction_ru.open:after
  content "Нажмите, чтобы скрыть подробную хронологию"
.page-hronologiya__instruction.instruction_en.open:after
  content "Click to hide detailed chronology"