.page-hronologiya__arrow
.page-hronologiya__arrow-prototype
  color themeColor
  text-decoration underline
  padding 0 10px
.page-hronologiya__one
  .page-hronologiya__arrow
  .page-hronologiya__arrow-prototype
    cursor pointer