.page-hronologiya__content
  margin-top 30px
  margin-bottom 80px
  text-align justify
  a
    text-decoration underline
    color themeColor
    &:focus
      text-decoration none
    &:hover
      text-decoration none
    &:active
      color darkThemeColor
      text-decoration underline
  ul
    list-style none
  li
    margin-left -20px
    text-indent 20px
  li:before
    content '—'
    position relative
    left -20px