.popup-img
  position fixed
  top 0
  bottom 0
  right 0
  left 0
  background rgba(119, 119, 119, 0.9)
  img
    width auto
    height auto
    max-height 100%
    max-width 100%
    position absolute
    transform translate(-50%,-50%)
    top 50%
    left 50%
    border 15px solid whit