.site__content
  flex 1 0 auto
  a
    text-decoration underline
    color themeColor
    &:focus
      text-decoration none
    &:hover
      text-decoration none
    &:active
      color darkThemeColor
      text-decoration underline