#modal.modal.modal_view_theme
  form.modal__form
    table.modal__table
      tbody
        tr
          td.modal__td
            input.modal__input.modal__input_view_theme(type='text', placeholder='Ваш телефон')
          td.modal__td
            button#modal__button.button.button_bg_accent.button_size_large(type='submit')
              | Отправить
  #modal__shut.modal__shut.modal__shut_view_theme.shut
    i.fa.fa-times(aria-hidden='true')
