.archive-download__button
  padding 10px 30px
  text-decoration none!important
  border-radius 20px
  margin 5px 15px
  font-family titleBoldFont
  display inline-block
.archive-download__button_bg_add
  background addColor
  color darkColor!important
.archive-download__button_bg_theme
  background themeColor
  color lightColor!important