.callback__item
  display inline-block
  height 55px
  line-height 55px
  width 55px
  padding 5px
  border-radius 50%
  background socialColor
  color lightColor
  text-align center
  cursor pointer
.callback__item:hover
    background themeColor