.main__news-one
  width 282px
  margin 0 5px 10px
  padding 40px 10px
  font-size 15px
  justify-content center
  align-items center
  text-align center
  display none
  text-decoration none!important
  font-family titleFont
.main__news-one_transform_up
  text-transform uppercase
  font-family titleBoldFont
.main__news-one:nth-child(2n)
  background themeColor
  color lightColor
.main__news-one:nth-child(2n+1)
  background addColor
  color baseColor
.main__news-one:nth-child(1)
.main__news-one:nth-child(2)
.main__news-one:nth-child(3)
.main__news-one:nth-child(4)
.main__news-one:nth-child(5)
  display flex