.main-center__title
  color addColor
  font-size baseSize
  font-family titleBoldFont
  margin 10px 0
  text-transform uppercase
  @media only screen and (min-width: sm)
    font-size subtitleSize