.main-center__overlay
  background darkOverlay
  bottom 0
  left 0
  position absolute
  right 0
  top 0
  width 100%
  z-index 2
  padding 35px
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (min-width: sm)
    padding 50px