.main-center
  position relative
  img
    position absolute
    max-width inherit !important
.main-center:hover
  .main-center__date
  .main-center__time  
  .main-center__title 
  .main-center__description
    color lightColor !important