.main-right
  background themeColor
  color lightColor
  margin-top 12px
  padding 35px
  a
    text-decoration underline !important
    color lightColor !important
    &:active
      color lightColor !important
      text-decoration underline !important
    &:focus
      text-decoration none !important
    &:hover
      text-decoration none !important
  @media only screen and (min-width: sm)
    margin-left 12px
    margin-top 0
    padding 35px 50px