a.main__help
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 7px 20px;
  border-radius: 15px;
  background: #999;
  color: #fff!important;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  text-decoration: none!important;