#leyka-payment-form .amount.flexible input
  border 1px solid themeColor!important
.leyka-tpl-radio input[type="submit"]
.leyka-tpl-toggles input[type="submit"]
  background themeColor!important
#leyka-payment-form.leyka-tpl-radio 
  .pm-selector
    padding 15px 35px !important
#leyka-payment-form.leyka-tpl-radio 
  #leyka-pm-data
    padding 0px 20px !important
.leyka-form-footer
  display none
.leyka-tpl-radio
  .leyka-pm-fields
    border-left 1px solid #dfdfdf !important
.leyka-tpl-toggles 
  .leyka-pm-fields
    border-left 1px solid #dfdfdf !important
.leyka-field.agree
  p
    label
      margin-left 20px
.leyka-tpl-neo 
  .leyka-payment-option.toggled 
    .leyka-toggle-trigger
      border-bottom 2px solid themeColor!important
      color themeColor!important
.leyka-tpl-neo input[type="checkbox"]:checked ~ .leyka-checkbox-label::before
  background-color themeColor!important
  border-color themeColor!important
.leyka-tpl-neo 
  #leyka_donation_submit
    background-color themeColor!important
    border-color themeColor!important