.archive-legacy__instruction
  background themeColor
  border-radius 15px
  color lightColor
  font-size xxsSize !important
  position fixed
  padding 20px
  text-transform none
  font-weight normal
  z-index 100
  text-align left
  @media only screen and (min-width: sm)
    position absolute
#instruction1
  display none
  width 300px
  top 100px
  left calc(50vw - 150px)
  @media only screen and (min-width: sm)
    width 400px
    right -385px
    top 0
    left auto
#instruction2
  display none
  width 300px
  top 100px
  left calc(50vw - 150px)
  @media only screen and (min-width: sm)
    top -5px
    left -8px