.archive-legacy__button
  border 1px solid themeColor
  padding 10px 80px
  color themeColor
  background lightColor
  margin 15px 0
  display inline-block
  cursor pointer
  @media only screen and (min-width: sm)
    display none
.archive-legacy__button:after
  content 'Открыть фильтр'
.archive-legacy__button_content_open:after
  content 'Закрыть фильтр' !important
  
.archive-legacy-en__button
  border 1px solid themeColor
  padding 10px 80px
  color themeColor
  background lightColor
  margin 15px 0
  display inline-block
  cursor pointer
  @media only screen and (min-width: sm)
    display none
.archive-legacy-en__button:after
  content 'Open filter'
.archive-legacy__button-en_content_open:after
  content 'Сlose the filter' !important