.archive-legacy__page-numbers
  color themeColor
  text-decoration underline
  cursor pointer
  display none
.archive-legacy__dots
  display none;
  cursor default !important
.archive-legacy__page-numbers-activa
  color baseColor !important
  text-decoration none !important
  cursor default !important