.archive-legacy__search-parameter
  min-height 80px
  border 1px solid addColor
  font-size xsSize
  padding 10px
  color themeColor
  font-family titleBoldFont
  display none
  position relative
  @media only screen and (min-width: sm)
    display block