.archive-legacy__instruction-question
  background themeColor
  border-radius 50%
  color lightColor
  text-align center
  font-size xxsSize
  height 18px
  width 18px
  font-family titleBoldFont
  position absolute
  top -7px
#question1
  right -5px
#question2
  right 7px