.archive-legacy__input-reset
  background none
  border none
  color themeColor
  text-decoration underline
  font-weight normal
  display block
  font-family titleFont
  text-align right
  position absolute
  bottom 5px
  right 5px