.archive-legacy__sort
  background #E2E3E5
  height 100px
  text-align center
  font-family titleBoldFont
  padding-top 20px
  color baseColor
  i
    font-size sortSize
  p
    padding-top 5px
  a
    text-decoration none!important
    color baseColor!important