header.site__header.header.header_view_theme
  .container
    .col-sm-12
      table.header__table
        tbody
          tr
            td.header__td
              .header__logo
                include ../logo/logo.pug
            td.header__td
              include ../navigation/navigation_dropdown.pug
            td.header__td.text-right
              .header__phone
                include ../top-phone/top-phone.pug
            td.header__td.text-right
              .header__hamburger
                include ../hamburger/hamburger.pug
