.social__item
  display inline-block
  height 29px
  line-height 29px
  width 29px
  font-family Roboto Light
  a
    background socialColor
    border-radius 50%
    color lightColor
    display block
    text-align center
  a:hover
    background themeColor