.heritage__title
  text-align center
  vertical-align middle
  text-transform uppercase
  color lightColor
  font-family titleBoldFont
  padding 5px 0
  @media only screen and (min-width: navigationBreakPoint)
    padding 30px 0