.single__info-book
  background addColor
  margin-left 15px
  margin-top 15px
  width calc(100vw - 30px)
  @media only screen and (min-width: sm)
    position absolute
    top 0
    right 0
    bottom 0
    padding 45px 40px 30px
    width 33.33333333%
    margin 0
  @media only screen and (min-width: md)
    width 25%