.single__form
  width 270px
  position relative
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top 20px
  @media only screen and (min-width: xs)
    width 320px
  form 
    input
      width 270px
      margin 10px 0
      font-size xxsSize
      padding 10px
      @media only screen and (min-width: xs)
        width 320px
    button
      padding 5px 10px !important
      @media only screen and (min-width: xs)
        padding 5px 40px !important
    select
      width 270px
      margin 10px 0
      font-size xxsSize
      padding 10px
      @media only screen and (min-width: xs)
        width 320px
    .form__p
      text-align left
      font-size xxsSize
      font-family baseBoldFont
      