.single__content
  margin-top 10px
  a
    text-decoration underline
    color themeColor
    &:focus
      text-decoration none
    &:hover
      text-decoration none
    &:active
      color darkThemeColor
      text-decoration underline