.single__review-close
  position absolute
  top 0
  right 0
  border 1px solid baseColor
  width 35px
  height 35px
  text-align center
  font-size closeSize
  cursor pointer
  div
    margin-top -5px