.header__description
  align-items center
  font-family baseItalicFont
  display flex
  font-size subtitleSize
  height 200px
  color baseColor
  max-width 300px
  font-style italic
  line-height 1.3