.header__link
  border-bottom 3px solid themeColor
  line-height 1.2
  margin-top 30px
  width 240px
  font-size xxsSize
  padding-bottom 10px
  position relative
  font-family addFont
  color addColor
  @media only screen and (min-width: navigationBreakPoint)
    width 260px
  a
    width 100px
  img
    position absolute
    right 0
    bottom 10px