.single-conference__thumb
  margin-top 10px
  margin-left 0
  img
    border 10px solid addColor
    height auto
    width 100%
    max-width 40vw
    float right
  @media only screen and (min-width: sm)
    margin-left -5px
  