.single-conference__title-link
  font-family titleBoldFont
  text-decoration underline
  color themeColor
  font-size baseSize
  cursor pointer
.single-conference__title-link-no
  font-family titleBoldFont
  color themeColor
  font-size baseSize
  cursor pointer