form
  .form__group
    label Как к Вам можно обращаться?
    .input-group
      span#basic-addon1.input-group-addon
        i.fa.fa-user(aria-hidden='true')
      input.form-control(type='text', aria-describedby='basic-addon1')
  .form__group
    label По какому телефону можно связаться?
    .input-group
      span#basic-addon1.input-group-addon
        i.fa.fa-phone(aria-hidden='true')
      input.form-control(type='text', aria-describedby='basic-addon1')
  .form__group
    label Напишите Ваш E-mail:
    .input-group
      span#basic-addon1.input-group-addon
        i.fa.fa-envelope(aria-hidden='true')
      input.form-control(type='text', aria-describedby='basic-addon1')
  .form__group
    label Дополнительные комментарии:
    textarea#exampleTextarea.form-control(rows='3')
  .button-group.text-center
    button.button(class=classButton) Отправить