mixin section__header(title, subtitle)
  .section__header(class=section + '__header')
    .row
      .col-sm-12
        h2.section__title.section__title_view_theme(class=section + '__title')= title
        .section__subtitle.section__subtitle_view_theme(class=section + '__subtitle')= subtitle