footer.site__footer.footer.footer_view_theme
  .container
    .col-sm-12
      .corpinfo.corpinfo_view_theme
        | Lorem ipsum dolor sit amet
      .footer__line.footer__line_view_theme
      .copyright.copyright_view_theme
        | Использование материалов возможно только с письменного согласия владельца
      .webmikorn.webmikorn_view_theme
        a(href='https://webmikorn.ru/', target='_blank')
          | Разработка сайта Микорн
