section.section.main.main_view_theme.parallax-window(data-parallax='scroll', data-image-src='assets/images/main/main.jpg')
  .main__overlay.main__overlay_view_theme
    h1.main__title.main__title_view_theme
      | Nullam dapibus finibus mollis
    .main__subtitle.main__subtitle_view_theme
      | Nam sapien nunc, consequat at ultrices non, rutrum quis mauris
    .button-group.text-center
      button#button__modal_section_main.button.button_bg_accent.button_size_large(type='button')
        | Call to action
