.mejs-time-total
  background baseColor !important
  height 10px !important
  margin 10px 0 0
.mejs-time
  color baseColor !important
  margin 32px 6px 0 !important
  padding 0 !important
  font-size xsSize !important
.mejs-container
  margin-left -16px
  margin-bottom 15px
  margin-top 50px
.mejs-container
.mejs-controls
  background lightColor !important
.mejs-button>button
  background themeColor !important
  color lightColor !important
  height 50px !important
  width 50px !important
  border-radius 50% !important
.mejs-volume-button
  display none !important
.mejs-currenttime
  display none !important
.mejs-time-rail
  margin 10px 30px !important
  padding-top 18px !important
.mejs-content-play
  font-size playSize !important
.mejs-content-play:after
  content '\25BA'
  margin-left 5px
.mejs-content-pause
  font-size pauseSize !important
  transform rotate(90deg)
.mejs-content-pause:after
  content '\003D'
.mejs-time-loaded
  background none !important
.mejs-controls .mejs-time-rail .mejs-time-current
  background themeColor!important