.page-sovet__job
  text-transform uppercase
  padding-bottom 10px
  padding-top 10px
  text-align center
  font-family titleBoldFont
  @media only screen and (min-width: sm)
    padding-top 0
    text-align inherit