.archive__info
  background themeColor
  padding 20px
  color lightColor
  text-align center
  @media only screen and (min-width: navigationBreakPoint)
    text-align left
  @media only screen and (min-width: lg)
    margin-left 20px