.archive__button
  border 1px solid themeColor
  padding 10px 80px
  color themeColor
  background lightColor
.archive__button#button-ru:after
  content 'Показать только предстоящие'
.archive__button#button-en:after
  content 'Hide previous Events'
    