.archive__info-book
  background addColor
  padding 15px
  font-size xsSize
  height 100%
  @media only screen and (min-width: sm)
    padding 100px 45px
  @media only screen and (min-width: lg)
    padding 110px 45px