.archive-conference__thumb
  background addColor
  overflow hidden
  height calc(50vw - 45px)
  @media only screen and (min-width: sm)
    height calc(25vw - 45px)
  @media only screen and (min-width: lg)
    height 255px
  img
    width 100%
    height auto