.archive-conference__exit
  position absolute
  top 0
  right 0
  padding 10px 15px
  size 80px
  border-left 1px solid socialColor
  border-bottom 1px solid socialColor
  font-family titleFont
  cursor pointer