.archive-conference__content
  color themeColor
  a
    text-decoration underline
    color themeColor
    &:focus
      text-decoration none
    &:hover
      text-decoration none
    &:active
      color darkThemeColor
      text-decoration underline