.archive-conference__title
  font-family titleBoldFont
  text-transform uppercase
  line-height 1.2
  margin 10px 0
  height 130px
  overflow hidden
  @media only screen and (min-width: sm)
    height 95px
  @media only screen and (min-width: md)
    height 85px
  @media only screen and (min-width: lg)
    height 75px
  a
    text-decoration none!important