.archive-conference__button
  border 1px solid socialColor
  padding 15px
  margin 25px 50px 25px 0
  position relative
  color themeColor
  text-transform uppercase
  font-family titleBoldFont
  cursor pointer
  font-size subtitleSize
  
.archive-conference__button-icon
  position absolute
  top 0
  bottom 0
  right 0
  color socialColor
  border-left 1px solid socialColor
  padding 10px 15px 15px
  font-family titleFont
  
