.archive-conference__box
  position relative
.archive-conference__box-hidden
  position absolute
  top 0
  left 0
  padding 25px
  border 1px solid socialColor
  width 1170px
  background lightColor
  z-index 100000
  display none

